In [56]:
contacts={"ali":"01013425678","mohamed":"011238945637","hana":"01148765679"}
for contacts_book in contacts :
    print(contacts_book)
search =input("write the name you're searching for")
if search in contacts:
    phone_number = contacts[search]
    print(f"the number for {search} is {phone_number}")
else:
    print("number is not found")

ali
mohamed
hana

write the name you're searching for ali

the number for ali is 01013425678

In [54]:
students={"name":"amal","grades":[98,99,100]} ,{"name":"ahmed","grades":[87,98,82]},{"name":"alia","grades":[74,87,98]}
for student in students:
  student_name = student["name"]
  student_grade = student["grades"]
  print(student_name)
average_grade= sum (student_grade) / len (student_grade)
print(average_grade)

amal
ahmed
alia
86.33333333333333

In [7]:
class book :
    def __init__(self,title,author,ISBN,avalibility):
      self.title=title
      self.author=author
      self.ISBN=ISBN
      self.avalibility=avalibility
     
book1= book("FACE YOUR FEARS","ANDREW MICHELE","..","yes")
print(book1.ISBN ,book1.title)


class memory:
    def __init__(self,name,membership_id,borrowed_books=None):
      self.name=name
      self.membership_id=membership_id
      self.borrowed_books=borrowed_books
      if borrowed_books is None:
         self.borrowed_books =[]
      else:
         self.borrowed_books=borrowed_books
    def borrow_book(self,book_title):
      if borrow_book not in self.borrowed_books:
          print(book_title)
      else:
          print("it's already borrowed")
    def return_book (self,book_title):
     if book_title in  self.borrowed_books:
        self.borrowed_books.remove(book_title)
        print(f"the {book_title} is returned")
     else:
           print ("already is in use")
member1=memory("amal","101","dreams")
member2=memory("ahmed","102","chimstry")
member3=memory("mohamed","103","mathmatics")
print(member1.name)
member1.borrowed_books==("dreams")

.. FACE YOUR FEARS
amal

True

In [21]:
def prime_number(n):
    if n<2:
        return "false"
    for i in range(2, int(n**0.5) + 1) :
      if n % i == 0:
          return "false"
    return "true"
prime_number(2)

'true'

In [25]:
def calculator(a,b,operation):
    if operation == "add":
        return a+b
    elif operation == "subtract":
        return a-b
    elif operation == "multiply":
        return a*b
    elif operation == "divide":
        return a/b
calculator(3,5,"add")

8

In [6]:
def are_you (name):
     if name == "amal":
        return "amal"
are_you("amal")

'amal'